body {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

#display {
  font-size: 2em;
  margin: 20px;
}

#controls {
  margin: 20px;
}



.btn-round {
  height: 80px;
  width: 80px;
  font-size: 1em;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 50%;
}